
@media screen and (max-width: 400px) {
        
        table thead {
            font-size: 0.6rem;
        }
        
        table td {
            font-size: 0.6rem;
        }

        .custom-size {
            font-size: 0.6rem;
            padding: 5%;
        }
        
    }

@media screen and (max-width: 600px) {
    
    table thead {
        font-size: 0.6rem;
    }
    
    table td {
        font-size: 0.6rem;
    }

    .custom-size {
        font-size: 0.6rem;
        padding: 5%;
    }
    
}